body{
    background-color: #DCD6F7;
}

hr{
    border-style: none none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
   
    width: 25%;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
p{
    font-size: 25px;
}
/* 
#tab{
    text-align: center;
} */

.way:hover{
    color:#CD6688;
}

#pwc{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}
#jio{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}
#view{
    font-size: 15px;
}
